@use "../styles.scss";

$list-width: 25%;
$list-min-width: styles.px2em(200px);

.ai-team-absence {
  display: flex;
  overflow: hidden scroll;

  .ai-list {
    width: $list-width;
    min-width: $list-min-width;
  }

  .ai-calendar {
    width: 100%;
  }
}
