<div
  class="ai-team-absence"
  [ngStyle]="{
    'font-family': fontFamily,
    'font-size': scale + 'em',
    width: width,
    height: height
  }"
>
  <div class="ai-list">
    <app-resource-list [resourceData]="resourceData"></app-resource-list>
  </div>

  <div class="ai-calendar">
    <app-header-toolbar
      [currentDate]="currentDate"
      (previousMonth)="previousMonth()"
      (nextMonth)="nextMonth()"
    ></app-header-toolbar>

    <app-calendar
      [days]="days"
      [resourceData]="resourceData"
      [dateEventMap]="dateEventMap"
    ></app-calendar>
  </div>
</div>
