<div class="dialog-container" *ngIf="isDialogVisible" (click)="toggleDialog()">
  <div class="dialog-box" (click)="handleDialogClick($event)">
    <div class="dialog-header">
      <div class="dialog-title">{{ date.toDateString() }}</div>

      <button class="close-button" (click)="toggleDialog()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
        >
          <g clip-path="url(#clip0_780_59915)">
            <path
              d="M15.8346 5.34102L14.6596 4.16602L10.0013 8.82435L5.34297 4.16602L4.16797 5.34102L8.8263 9.99935L4.16797 14.6577L5.34297 15.8327L10.0013 11.1743L14.6596 15.8327L15.8346 14.6577L11.1763 9.99935L15.8346 5.34102Z"
              fill="#3A3D57"
            />
          </g>
          <defs>
            <clipPath id="clip0_780_59915">
              <rect width="20" height="20" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>

    <div class="dialog-content">
      <div
        *ngFor="let event of resourceEvents"
        class="event {{ event.title.toLowerCase() }}"
      >
        <span class="title">
          {{ event.title }}
        </span>

        <span class="content">
          {{ event.extendedProps.holidayLeaveName }}
        </span>
      </div>
    </div>
  </div>
</div>
