@use "../../styles.scss";

.ai-week-header {
  display: flex;
  align-items: flex-start;
  align-self: stretch;

  .ai-week-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: styles.px2em(10px);
    flex: 0 0 styles.px2em(34.5px);
    padding: styles.$padding-sm;
    background: map-get(styles.$surface, surface-default);
    border-bottom: 1px solid map-get(styles.$stroke, stroke-default);
    font-size: styles.$font-size-xs;
    font-style: normal;
    font-weight: 700;
    line-height: styles.px2em(15px);
    color: map-get(styles.$text, text-subtle);
    text-align: center;
  }
}
