@use "../../styles.scss";

.ai-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: fit-content;
  height: fit-content;

  .ai-day {
    display: flex;
    width: styles.px2em(20px);
    height: styles.px2em(20px);
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f0f1f7;
    background-color: #fbfbfc;
    position: relative;
    cursor: pointer;
  }
}

.ai-day.ai-selected {
  cursor: auto;
  pointer-events: none;
}

.ai-current-month {
  background-color: #ffffff;
}

.ai-faded {
  background: #f0f1f7;
}
