<div class="resource-container">
  <!-- <span
    class="icon icon-container"
    role="img"
    [ngClass]="{ hidden: !isCollapsible }"
    (click)="handleCollapse()"
  >
    <span class="collapse-icon" *ngIf="isCollapsed"> &#xFF0B; </span>

    <span class="collapse-icon" *ngIf="!isCollapsed"> &#xFF0D; </span>
  </span> -->

  <span class="resource-image">
    {{ getTitleInitials(resource.title) }}
  </span>

  <span class="resource-title">
    {{ resource.title }}
  </span>
</div>

<div *ngIf="isCollapsible && !isCollapsed">
  <ng-content></ng-content>
</div>
