@use "../../styles.scss";

.ai-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;

  .ai-week-day {
    display: flex;
    padding: styles.$padding-sm;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid map-get(styles.$stroke, stroke-default);
    background-color: map-get(styles.$global-colours, ai-base, ai-white);
    box-shadow: 0 6px 12px -6px rgba(0, 0, 0, 0.05);

    .ai-day-name {
      font-size: styles.$font-size-xs;
      font-style: normal;
      font-weight: 700;
      line-height: styles.px2em(15px);
      color: map-get(styles.$text, text-subtle);
      text-align: center;
    }
  }

  .ai-day {
    display: flex;
    aspect-ratio: 1;
    padding: styles.$padding-sm;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid map-get(styles.$stroke, stroke-subtle);
    background-color: map-get(styles.$global-colours, ai-grey, g50);
    position: relative;
  }

  .ai-day.ai-current-month {
    background-color: map-get(styles.$surface, surface-default);
  }

  .ai-day.ai-faded {
    background: map-get(styles.$global-colours, ai-grey, g200);
  }
}

.ai-days.ai-mobile {
  height: fit-content;

  .ai-day {
    justify-content: center;
    align-items: center;
    width: styles.px2em(28px);
    height: styles.px2em(28px);
  }
}
