<div>
  <div class="header-container">
    <div style="display: flex; width: 100vw; overflow: hidden">
      <div style="width: 30%">
        <app-resource-list></app-resource-list>
      </div>

      <div style="width: 70%">
        <app-resource-timeline-header
          [currentDate]="currentDate"
          (previousMonth)="previousMonth()"
          (nextMonth)="nextMonth()"
        ></app-resource-timeline-header>

        <app-calendar
          [days]="days"
          (selectDay)="selectDay($event)"
        ></app-calendar>
      </div>
    </div>
  </div>
</div>

<table class="calendar">
  <tbody>
    <tr *ngFor="let week of [0, 1, 2, 3, 4, 5]">
      <td
        *ngFor="let day of days | slice : week * 7 : (week + 1) * 7"
        [ngClass]="{ today: day.isToday, selected: day.isSelected }"
        (click)="selectDay(day)"
        [ngClass]="{ faded: !day.isCurrentMonth }"
      >
        {{ day.date.getDate() }}
        {{ day.date.toLocaleDateString("en-US", { weekday: "short" }) }}
      </td>
    </tr>
  </tbody>
</table>
