.week-header {
  display: flex;
  align-items: flex-start;
  align-self: stretch;
}

.week-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  padding: 8px;
  background: #fff;
  border-bottom: 1px solid #d7d8e1;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
  color: #595b6b;
  text-align: center;
}
