<div
  [ngClass]="{
    today: isToday(date),
    'current-month': isCurrentMonth(date)
  }"
>
  <div class="date">
    {{ date.getDate() }}
  </div>

  <div *ngIf="getEventCount(date) > 1" class="more" (click)="toggleDialog()">
    +{{ getEventCount(date) - 1 }} more
  </div>

  <!-- <calendar-event
    *ngIf="getEventCount(date) > 0"
    [leaveHolidayData]="getEvent(date)"
    (click)="toggleDialog()"
  ></calendar-event> -->
</div>

<!-- <dialog-box
  *ngIf="getEventCount(date) > 0"
  [date]="date"
  [leaveHolidayData]="getEvents(date)"
  [isDialogVisible]="isDialogVisible"
  (toggleDialog)="toggleDialog()"
></dialog-box> -->
