@use "../../styles.scss";

.ai-header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: styles.$padding-md styles.$padding-md styles.$padding-default
    styles.$padding-md;
  background-color: map-get(styles.$surface, surface-default);

  .ai-toolbar-title {
    font-size: styles.$font-size-md;
    font-style: normal;
    font-weight: 700;
    line-height: styles.px2em(22.5px);
  }

  .ai-btn-group {
    display: flex;
    gap: styles.px2em(8px);
    .ai-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      width: styles.px2em(32px);
      height: styles.px2em(32px);
      padding: styles.$padding-sm;
      background-color: map-get(styles.$global-colours, ai-grey, g200);
      cursor: pointer;
      border: none;
      border-radius: 50%;
      font-weight: bold;
      color: map-get(styles.$global-colours, ai-purple, p800);
    }
  }
}
