.faded {
  background-color: #f7f8fa;
}

.event {
  display: flex;
  align-items: center;
  gap: 20px;
  position: absolute;
  z-index: 2;
  left: 5px;
  overflow: hidden;
  padding: 8px;
  cursor: pointer;
  border-radius: 0 8px 8px 0;
}

.title {
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
}

.content {
  overflow: hidden;
  font-size: 10px;
  font-weight: 600;
  line-height: 14px;
  text-overflow: ellipsis;
  letter-spacing: 0.04px;
}

.more {
  position: absolute;
  bottom: 5px;
  font-size: 10px;
  cursor: pointer;
}

.title,
.content,
.more {
  white-space: nowrap;
}

.leave {
  background-color: #ebf2ff;
  border-left: 2px solid #2160c7;
}

.leave .title {
  color: #11418f;
}

.leave .content {
  color: #595b6b;
}

.holiday {
  background-color: #f4e9f4;
  border-left: 2px solid #952391;
}

.holiday .title {
  color: #952391;
}

.holiday .content {
  color: #595b6b;
}
