<div>
  <div class="header-container">
    <div
      style="
        display: flex;
        width: {{ width }};
        height: {{ height }};
        overflow: scroll;
      "
    >
      <div style="width: 25%">
        <resource-timeline-resource-list
          [resourceData]="resourceData"
        ></resource-timeline-resource-list>
      </div>

      <div style="width: 75%">
        <resource-timeline-header
          [currentDate]="currentDate"
          (previousMonth)="previousMonth()"
          (nextMonth)="nextMonth()"
        ></resource-timeline-header>

        <resource-timeline-calendar
          [days]="days"
          [resourceData]="resourceData"
          [dateEventMap]="dateEventMap"
          (selectDay)="selectDay($event)"
        ></resource-timeline-calendar>
      </div>
    </div>
  </div>
</div>
