@use "../../styles.scss";

.ai-event {
  display: flex;
  align-items: center;
  gap: styles.px2em(20px);
  position: absolute;
  z-index: 2;
  left: styles.px2em(4px);
  overflow: hidden;
  padding: styles.$padding-sm;
  cursor: pointer;
  border-radius: 0 styles.$border-radius-sm styles.$border-radius-sm 0;

  .ai-title {
    font-size: styles.$font-size-xs;
    font-weight: 700;
    line-height: styles.px2em(15px);
  }

  .ai-content {
    overflow: hidden;
    font-size: styles.$font-size-xxs;
    font-weight: 600;
    line-height: styles.px2em(14px);
    text-overflow: ellipsis;
    letter-spacing: styles.px2em(0.04px);
  }

  .ai-title,
  .ai-content {
    white-space: nowrap;
  }
}

.ai-event.ai-leave {
  background-color: map-get(styles.$global-colours, ai-blue, b50);
  border-left: 2px solid map-get(styles.$global-colours, ai-blue, b600);

  .ai-title {
    color: map-get(styles.$global-colours, ai-blue, b800);
  }

  .ai-content {
    color: map-get(styles.$text, text-subtle);
  }
}

.ai-event.ai-holiday {
  background-color: #f4e9f4;
  border-left: 2px solid map-get(styles.$global-colours, ai-purple, p600);

  .ai-title {
    color: map-get(styles.$global-colours, ai-purple, p600);
  }

  .ai-content {
    color: map-get(styles.$text, text-subtle);
  }
}

.ai-more {
  position: absolute;
  bottom: styles.px2em(5px);
  font-size: styles.$font-size-xxs;
  cursor: pointer;
  white-space: nowrap;
}
