<div
  *ngIf="checkValidEvent(date, resource.id)"
  class="ai-event ai-{{ getResourceTitle(date, resource.id).toLowerCase() }}"
  [ngStyle]="{
    width: getEventTileWidth(date, resource.id)
  }"
  (click)="toggleDialog()"
>
  <span class="ai-title">
    {{ getResourceTitle(date, resource.id) }}
  </span>

  <span class="ai-content">
    {{ getResourceContent(date, resource.id) }}
  </span>
</div>

<div
  *ngIf="getResourceEventsCount(date, resource.id) > 1"
  class="ai-more"
  (click)="toggleDialog()"
>
  &#xFF0B;{{ getResourceEventsCount(date, resource.id) - 1 }} more
</div>

<app-dialog-box
  *ngIf="checkValidEvent(date, resource.id)"
  [date]="date"
  [resourceEvents]="getResourceEvents(date, resource.id)"
  [isDialogVisible]="isDialogVisible"
  (toggleDialogHandler)="toggleDialog()"
></app-dialog-box>
