.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
  overflow: hidden;
}

.day {
  display: flex;
  height: 120px;
  padding: 8px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: 1px solid #f0f1f7;
  background-color: #fbfbfc;
  position: relative;
}

.current-month {
  background-color: #ffffff;
}

.faded {
  background: #f0f1f7;
}
