<!-- <team-absence
  [width]="'100vw'"
  [height]="'40vh'"
  [scale]="1"
  [resource]="resource"
  [teamLeavesHoliday]="teamLeavesHoliday"
></team-absence> -->

<div class="row">
  <div class="col-9">
    <holiday-calendar
      [leaveHoliday]="leaveHoliday.data.upcomingHolidayLeavesCalendarView"
    ></holiday-calendar>
  </div>
  <div class="col-3"></div>
</div>

<holiday-calendar
  [leaveHoliday]="leaveHoliday.data.upcomingHolidayLeavesCalendarView"
></holiday-calendar>

<!-- <learning-calendar
  [width]="'50vw'"
  [height]="'50vh'"
  [learningCalendar]="learningCalendar"
></learning-calendar> -->
