<app-calendar-team-absence
  [width]="'100vw'"
  [height]="'100vh'"
  [scale]="1"
  [resource]="resource"
  [teamLeavesHoliday]="teamLeavesHoliday"
></app-calendar-team-absence>

<app-calendar-holiday-calendar
  [device]="'desktop'"
  [scale]="1"
  [width]="'100vw'"
  [height]="'100vh'"
  [leaveHoliday]="leaveHoliday.data.upcomingHolidayLeavesCalendarView"
></app-calendar-holiday-calendar>

<app-calendar-learning-calendar
  [width]="'100vw'"
  [height]="'100vh'"
  [currentDateString]="'2024-03-20'"
  [learningCalendar]="learningCalendar"
  (getSelectedDate)="handleSelectedDate($event)"
  (getChangedMonth)="handleChangedMonth($event)"
></app-calendar-learning-calendar>
