<div
  class="ai-holiday-calendar ai-{{ device }}"
  [ngStyle]="{
    'font-family': fontFamily,
    'font-size': scale + 'em',
    width: width,
    height: height
  }"
>
  <div class="ai-calendar-header">
    <app-header-toolbar
      [device]="device"
      [currentDate]="currentDate"
      (previousMonth)="previousMonth()"
      (nextMonth)="nextMonth()"
    ></app-header-toolbar>
  </div>

  <app-calendar-grid
    [device]="device"
    [days]="days"
    [currentDate]="currentDate"
    [dateEventMap]="dateEventMap"
  ></app-calendar-grid>
</div>
