.month-date {
  cursor: pointer;
}

.selected {
  display: flex;
  width: 24px;
  height: 24px;
  padding: 4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 50%;
  background: #531251;
}

.date {
  color: #595b6b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.6px;
  letter-spacing: 0.035px;
}

.selected .date {
  color: #ffffff;
}
