@use "../../styles.scss";

.ai-month-date {
  cursor: pointer;

  .ai-date {
    display: flex;
    justify-content: center;
    align-items: center;
    color: map-get(styles.$text, text-subtle);
    font-size: styles.$font-size-sm;
    font-style: normal;
    font-weight: 400;
    line-height: styles.px2em(19.6px);
    letter-spacing: styles.px2em(0.035px);
  }

  .ai-date.ai-selected {
    width: styles.px2em(21px);
    height: styles.px2em(21px);
    padding: styles.$padding-xs;
    background-color: map-get(styles.$global-colours, ai-purple, p800);
    border-radius: 50%;
    color: map-get(styles.$text, text-on-dark);
  }

  .ai-event {
    text-align: center;
    .ai-circle {
      translate: -50% 50%;
      display: inline-block;
      position: absolute;
      bottom: 5px;
      width: styles.px2em(6px);
      height: styles.px2em(6px);
      background-color: map-get(styles.$global-colours, ai-purple, p800);
      border-radius: 50%;
    }
  }
}
