@use "../../styles.scss";

.ai-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  .ai-day {
    display: flex;
    flex: 1 0 0;
    aspect-ratio: 1;
    min-width: styles.px2em(28px);
    padding: styles.$padding-sm;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid map-get(styles.$stroke, stroke-subtle);
    background-color: map-get(styles.$global-colours, ai-grey, g50);
    position: relative;
    cursor: pointer;
  }
}

.ai-day.ai-selected {
  cursor: auto;
  pointer-events: none;
}

.ai-day.ai-current-month {
  background-color: map-get(styles.$surface, surface-default);
}

.ai-day.ai-faded {
  background: map-get(styles.$global-colours, ai-grey, g200);
}
