<div class="ai-learning-calendar-container">
  <div
    class="ai-learning-calendar"
    [ngStyle]="{
      'font-family': fontFamily,
      width: width,
      height: height
    }"
  >
    <div class="ai-calendar-header">
      <app-header-toolbar
        [currentDate]="currentDate"
        (previousMonth)="previousMonth()"
        (nextMonth)="nextMonth()"
      ></app-header-toolbar>

      <app-week-header></app-week-header>
    </div>

    <app-calendar-grid
      [days]="days"
      [currentDate]="currentDate"
      [dateEventMap]="dateEventMap"
      (selectDay)="selectDay($event)"
    ></app-calendar-grid>
  </div>
</div>
