/* You can add global styles to this file, and also import other style files */

:root {
  --ai-purple-800: #531251;
  --ai-grey-100: #f7f8fa;
  --padding-sm: 8px;
  --text-subtle: #595b6b;
  --stroke-subtle: #f0f1f7;
  --neutral-bg-color: hsla(0, 0%, 82%, 0.3);
}

html {
  font-family: Muli, sans-serif;
  color: #20232a;
}

.icon {
  speak: none;
  user-select: none;
}
