.month-calendar {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
     /* max-width: 400px;
     margin: auto; */
    height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: space-around;
    background-color: #f0f0f0;
    font-weight: bold;
    padding: 8px 0;
  }
  
  .day {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .empty-day {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 100%;
  }
  /* .days {
    display: flex;
    justify-content: space-between;
  } */
  
  .prev-month, .next-month {
    color: #aaa; /* Adjust the color to your preference */
    opacity: 0.5; /* Adjust the opacity to your preference */
  }
  