<div class="header-toolbar">
  <div class="toolbar-chunk">
    <div class="btn-group">
      <button
        class="btn btn-primary bg-transparent rounded"
        type="button"
        title="Previous day"
        aria-pressed="false"
        (click)="handlePreviousMonth()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="#531251"
        >
          <g clip-path="url(#clip0_780_59672)">
            <path
              d="M11.6745 2.58039L10.4879 1.40039L3.89453 8.00039L10.4945 14.6004L11.6745 13.4204L6.25453 8.00039L11.6745 2.58039Z"
            />
          </g>
          <defs>
            <clipPath id="clip0_780_59672">
              <rect width="16" height="16" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </button>

      <button
        class="btn btn-primary bg-transparent rounded"
        type="button"
        title="Next day"
        aria-pressed="false"
        (click)="handleNextMonth()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          fill="#531251"
        >
          <g clip-path="url(#clip0_780_59674)">
            <path
              d="M4.32812 13.4204L5.50813 14.6004L12.1081 8.00039L5.50813 1.40039L4.32812 2.58039L9.74813 8.00039L4.32812 13.4204Z"
            />
          </g>
          <defs>
            <clipPath id="clip0_780_59674">
              <rect width="16" height="16" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </button>
    </div>

    <div class="toolbar-title">
      {{
        currentDate.toLocaleDateString("en-US", {
          month: "long",
          year: "numeric"
        })
      }}
    </div>
  </div>

  <!-- <div class="toolbar-chunk">
    <div class="button-group">
      <button
        class="btn btn-primary active"
        type="button"
        title="day view"
        aria-pressed="false"
        style="border-radius: 8px 0 0 8px"
      >
        day
      </button>

      <button
        class="btn btn-primary"
        type="button"
        title="week view"
        aria-pressed="false"
      >
        week
      </button>

      <button
        class="btn btn-primary"
        type="button"
        title="month view"
        aria-pressed="false"
        style="border-radius: 0 8px 8px 0"
      >
        month
      </button>
    </div>
  </div> -->
</div>
