.header-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 8px;
  background-color: #ffffff;
  z-index: 1;
}

.toolbar-chunk {
  display: flex;
  align-items: center;
  gap: 20px;
}

.toolbar-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22.5px;
}

.btn {
  padding: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.btn-primary {
  width: 32px;
  height: 32px;
  background-color: #eae2e9;
  color: #531251;
}

.bg-transparent {
  background: transparent;
}

.btn-primary.active,
.btn-primary:hover {
  background-color: #531251;
  color: #ffffff;
}

.btn-primary.active svg,
.btn-primary:hover svg {
  fill: #ffffff !important;
  background-color: #531251;
}

.rounded {
  border-radius: 50%;
}
