<div class="date-month">
  <div class="month-name" *ngIf="date.getDate() === 1">
    {{
      date.toLocaleDateString("en-US", {
        month: "short"
      })
    }}
  </div>

  <div class="date" [ngClass]="{ today: isToday(date) }">
    {{ date.getDate() }}
  </div>
</div>

<div
  *ngIf="getEventCount(date) > 1"
  class="more {{ device }}"
  (click)="toggleDialog()"
>
  +{{ getEventCount(date) - 1 }} <span *ngIf="device === 'desktop'">more</span>
</div>

<calendar-event
  *ngIf="getEventCount(date) > 0"
  [device]="device"
  [leaveHolidayData]="getEvent(date)"
  (click)="toggleDialog()"
></calendar-event>

<dialog-box
  *ngIf="getEventCount(date) > 0"
  [date]="date"
  [leaveHolidayData]="getEvents(date)"
  [isDialogVisible]="isDialogVisible"
  (toggleDialog)="toggleDialog()"
></dialog-box>
