<div class="ai-date-month">
  <div class="ai-month-name" *ngIf="date.getDate() === 1">
    {{
      date.toLocaleDateString("en-US", {
        month: "short"
      })
    }}
  </div>

  <div class="ai-date" [ngClass]="{ today: isToday(date) }">
    {{ date.getDate() }}
  </div>
</div>

<div
  *ngIf="getEventCount(date) > 1"
  class="ai-more ai-{{ device }}"
  (click)="toggleDialog()"
>
  +{{ getEventCount(date) - 1 }} <span *ngIf="device === 'desktop'">more</span>
</div>

<app-calendar-event
  *ngIf="getEventCount(date) > 0"
  [device]="device"
  [date]="date"
  [leaveHolidayData]="getEvent(date)"
  (click)="toggleDialog()"
></app-calendar-event>

<app-dialog-box
  *ngIf="getEventCount(date) > 0"
  [date]="date"
  [leaveHolidayData]="getEvents(date)"
  [isDialogVisible]="isDialogVisible"
  (toggleDialogHandler)="toggleDialog()"
></app-dialog-box>
